@import url('https://fonts.cdnfonts.com/css/bodoniflf');

* {
    margin: 0;
}

.parallax {
   position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#title {
    top: 200px;
    position: absolute;
    font-size: 98px;
    font-weight: 500;
    line-height: 80px;
    color: antiquewhite;
}

#subtitle {
    top: 460px;
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: antiquewhite;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.parallax #hill {
    top: 50px;
}

h1, h2, p {
    font-family: 'BodoniFLF', sans-serif;
}

h1, h3 {
    text-align: center;
}


.txt-title {
    font-size: 98px;
    margin: 0;
    color: antiquewhite;
    line-height: 80px;
    font-weight: 500;
}

p {
    font-weight: 500;
    font-size: 22px;
    line-height: 27.5px;
    padding-top: 76px;
    color: antiquewhite;
}

.pic {
    border-radius: 10px;
}

.container1 {  
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "text1 image1"
      ". .";
    margin: 0;
    top: 90px;
  }
  
  .image1 {  display: grid;
    grid-template-columns: 0.5fr 1.3fr 1.2fr;
    grid-template-rows: 0.8fr 1.8fr 0.3fr 2fr 0.9fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". image--1 ."
      ". . ."
      ". image--2 ."
      ". . .";
    grid-area: image1;
    justify-content: center;
}
  
  .image--1 { 
    display: flex;
    justify-content: center;
    grid-area: image--1; 
}
  
  .image--2 { 
    grid-area: image--2;
    display: flex;
    align-self: center; 
}
  
  .text1 { 
    display: grid; 
    grid-template-columns: 1.1fr 1.3fr 0.2fr; 
    grid-template-rows: 0.5fr 2.3fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . ."
        ". text--1 ."
        ". . ."; 
    grid-area: text1;  
}

.text--1 { grid-area: text--1; }

.container2 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "image2 text2"
      ". .";
    position: relative;
    top: 90px;
  }
  
  .image2 {  display: grid;
    grid-template-columns: 1.3fr 1.3fr 0.4fr;
    grid-template-rows: 0.5fr 1.8fr 0.3fr 1.7fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". image--3 ."
      ". . ."
      ". image--4 ."
      ". . .";
    grid-area: image2;
  }
  
  .image--3 { grid-area: image--3; }
  
  .image--4 { grid-area: image--4; }
  
  .text2 {  display: grid;
    grid-template-columns: 0.4fr 1.3fr 1fr;
    grid-template-rows: 0.2fr 2.5fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". text--2 ."
      ". . .";
    grid-area: text2;
  }
  
  .text--2 { grid-area: text--2; }
  

.background {
    position: relative;
    top: 867px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 2.6%, #000218 100%);
    height: 6358px;
}

.vl {
    border-left: 6px solid #B1FA33;
    height: 5348px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 958px;
}

